* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  min-height: 100%;
  background-color: #f5f5f5;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* Header and navigation */
/* header {
  background-color: #007bff;
  color: white;
  padding: 1% 0;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: center;
  background-color: #007bff;
  padding: 1% 0;
}

nav li {
  margin: 0 2%;
} */

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

/* Main content */
main {
  padding: 2%;
  max-width: 80%;
  margin: 2% auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Jokes list */
.jokes-container {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 2%;
  padding: 2%;
}

/* Container for the individual joke parts */
.joke {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 2%;
}

/* Top part of the joke containing left, main, and right elements */
.joke-top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top:1%;
  padding-left: 1%;
}

.leftJoke {
  align-self: flex-start;
}

.mainJoke {
  align-self: center;
  flex-grow: 1;
}

.rightJoke {
  align-self: flex-end;
  padding-right: 1%;
}

/* Bottom part of the joke, including interaction buttons */
.bottomJoke {
  width: 100%;
  margin-top: 1%;
  display: flex;
  justify-content: center;
  padding-top: 1%;
}

.joke img {
  width: 8%;
  height: auto;
  border-radius: 50%;
  margin-right: 1%;
}

.joke p {
  flex: 1;
}

.joke .interaction-buttons {
  display: flex;
  align-items: center;
}

.details-button {
  align-items: center;
  display: block;
  margin: 0 auto;
}


.detailRow {
  display: flex;
  justify-content: center;
}

.interaction-button {
  font-size: 1.25rem;
  margin-right: 1%;
  cursor: pointer;
}

/* Footer */
footer {
  text-align: center;
  padding: 1% 0;
  /* background-color: #333; */
  color: rgb(0, 0, 0);
  position: relative;
  bottom: 0;
  width: 100%;
}

/* Forms and input fields */
.mainForm {
  width: 90%;
  max-width: 400px;
  padding: 2%;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='submit'],
textarea {
  width: 100%;
  padding: 1%;
  margin: 2% 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Button enhancements */
input[type='submit'],
button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 1%;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type='submit']:hover,
button:hover {
  background-color: #0056b3;
}

/* Accessibility focus styles */
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 2px solid #0056b3;
  outline-offset: 2px;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
  }

  main,
  form {
    width: 95%;
  }

  .joke img {
    width: 16%;
  }

  .joke-top {
    flex-direction: column;
  }

  .leftJoke,
  .mainJoke,
  .rightJoke {
    align-self: center;
    margin-bottom: 1%;
  }
}

.picture {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}



/* Popup Styles */
.popup {
  text-align: center;
  font-size: 20px;
  position: fixed;
  display: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.popup img {
  /* max-width: 100%;
  height: auto; */
  /* max-width: 100%; */
  /* max-height: 16%;
  height: 16%; */
  border-radius: 50%;
  /* margin-right: 50%; */
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 14vh;
  /* Adjust the value as needed */
}


/* Close Button Styles */
.close {
  position: absolute;
  top: 0px;
  right: 10px;
  padding: 0px;
  font-size: 30px;
  cursor: pointer;
}

.card {
  margin-bottom: 3%;
}

.plus-minus-container {
  display: flex;
  padding-right:1%;
  margin-right: 1%;
}

.plus-minus-button {
  padding-right:10%;
}

.plus-minus-button img{
  height: 30px;
  width: 30px;
}

.comment-modal {
  display: block;
}

.comment-container {
  display: none;
}

.comment-entry {
  padding-left: 1%;
}

.comment-top {
  height: 5%;
  width: 100%;
  
}
.comment-top label {
  width: 100%;
}

.comment-picture {
  height: 30px; /*to nie powinno byc tak niby ale chuj*/
  width: 30px;
  border-radius: 50%;
  margin-right: 1%;
}

.addCommentForm {
  padding: 2%;
  margin: auto;
  box-shadow: none;
  resize: none;
}

.add-comment-button{
  padding: 2%;
  box-shadow: none;
  max-width: 20%;
}

#upvote {
  cursor: pointer;
}

#downvote {
  cursor: pointer;
}

.btn-secondary {
  background-color: red; /* Twój wybrany kolor tła */
  /* Dodatkowe stylizacje */
  color: white; /* Kolor tekstu na przycisku */
  border: 1px solid red; /* Opcjonalnie, styl obramowania przycisku */
}