<!doctype html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Joke Central</title>
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <!-- Navigation bar -->
      <nav id="navlist">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/dodaj_zart.html">Add Joke</a></li>
          <li><a href="/login.html">Login</a></li>
          <li><a href="/register.html">Register</a></li>
          <li><a href="/moje_konto.html">My Account</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <h1>Welcome to Joke Central!</h1>
      <p>Explore, laugh, and share your jokes with the world.</p>
      <!-- Display jokes from jokes.json -->
      <div id="jokesList">
        <div class="jokes-container" id="jokesContainer">A</div>
      </div>
    </main>

    <footer>
      <p>&copy; 2023 Joke Central. All rights reserved.</p>
    </footer>

    <!-- JavaScript -->
    <script src="..\js\script.js"></script>
  </body>
</html>
