<!doctype html>
<html lang="en">
  <head>
    <meta
      charset="UTF-8"
      name="viewport"
      content="width=device-width, initial-scale=1.0"
      initial-scale="1″"
    />
    <title>Register - Joke Central</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <!-- Navigation bar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="./index.html">Joke Central</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" href="./index.html">Home</a>
            <a class="nav-item nav-link" href="./top_jokes.html">Top jokes</a>
            <a class="nav-item nav-link" href="./login.html">Login</a>
            <a class="nav-item nav-link active" href="./register.html">Register</a>
          </div>
        </div>
      </nav>
    </header>

    <main class="">
      <!-- Registration form -->
      <h1>Register at Joke Central</h1>

      <form id="registerForm" action="/register" method="post" class="mainForm">
        <div class="form-group">
          <label for="fullname">Full Name</label>
          <input type="text" id="fullname" name="fullname" required />
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            required
          />
          <small id="emailHelp" class="form-text text-muted"
            >We'll never share your email with anyone else.</small
          >
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" required />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" required />
        </div>
        <div>
          <button type="submit" class="btn btn-primary">Register</button>
        </div>
      </form>

      <p>Already have an account? <a href="./login.html">Login here</a></p>
    </main>

    <footer>
      <!-- Footer content -->
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2023 Joke Central. All rights reserved.</p>
    </footer>

    <!-- JavaScript -->
    <script src="../js/main.js"></script>
  </body>
</html>
